<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>D:/apps_01/dfm/logs/distributed-tracing/address-service.log</file>
		<!-- <append>true</append> -->
		<!-- set immediateFlush to false for much higher logging throughput -->
		<immediateFlush>true</immediateFlush>
		<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, GMT} %p [ traceid=%X{traceId} spanid=%X{spanId} ] %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, GMT} %p [ traceid=%X{traceId} spanid=%X{spanId} ] %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.sample" level="info" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>